<h1><img src="images/dindinsLogo.jpeg" class="dindins"></h1>

<main class="about">

<h2>Food sitting in the cupboard you don’t need, went a bit overboard on the 3 for 2? Dinginess it!</h2>


<h2>The Team</h2>
<img src="https://pbs.twimg.com/profile_images/416715512328880129/UcQt7E6b.jpeg" class="team">

<ul>
  <li>Mr Samuel Bagnall: <a href="https://github.com/spkb" target="_blank"><img src="/images/gitlogotype18.png" class="contact-logo"></a>
  </li>
  <br>
  <li>Ms Franziska Klingner: <a href="https://github.com/fran-k"><img src="/images/gitlogotype18.png" class="contact-logo"></a>
  </li>
  <br>
  <li>Ms Andrea Mckenzie: <a href="https://github.com/ma3east"><img src="/images/gitlogotype18.png" class="contact-logo"></a>
  </li>
</ul>

</main>
