<div class="welcome">
  <img id="logo" src="images/dindinsLogo.jpeg">
</div>

<h1>The Team</h1>
<ul>
  <li class="panel">
    <div class="image">
      <a href="https://github.com/spkb" target="_blank">
        <img src="/images/gitlogotype18.png" class="contact-logo">
      </a>
    </div>
    <div class="info">
      <h3>Samuel Bagnall</h3> 
    </div>
  </li>
  <li class="panel">
    <div class="image">
      <a href="https://github.com/fran-k" target="_blank">
        <img src="/images/gitlogotype18.png" class="contact-logo">
      </a>
    </div>
    <div class="info">
      <h3>Franziska Klingner</h3>
    </div>
  </li>
  <li class="panel">
    <div class="image">
      <a href="https://github.com/ma3east" target="_blank">
        <img src="/images/gitlogotype18.png" class="contact-logo">
      </a>
    </div>
    <div class="info">
      <h3>Andrea Mckenzie</h3>
    </div>
  </li>
</ul>
