<h1><img src="images/dindinsLogo.jpeg" class="dindins_logo"></h1>

<main class="about">

  <h3>Food sitting in the cupboard you don’t need?, went a bit overboard on the 3 for 2? <br> No longer into chickpeas? DinDins It!</h3>
  <br>
  <h2>The Team</h2>
  <br>
  <img src="https://pbs.twimg.com/profile_images/416715512328880129/UcQt7E6b.jpeg" class="team">

  <ul>
    <li><h3>Mr Samuel Bagnall: <a href="https://github.com/spkb" target="_blank"><img src="/images/gitlogotype18.png" class="contact-logo"></a></h3> 
    </li>
    <br>
    <li><h3>Ms Franziska Klingner: <a href="https://github.com/fran-k" target="_blank"><img src="/images/gitlogotype18.png" class="contact-logo"></a></h3> 
    </li>
    <br>
    <li><h3>Ms Andrea Mckenzie: <a href="https://github.com/ma3east" target="_blank"><img src="/images/gitlogotype18.png" class="contact-logo"></a></h3>
    </li>
  </ul>
  <br>
  <h3>Find Us @ reader.rush.amber - Hint check out: 
    <a href="https://map.what3words.com/">what3words.com</a>
  </h3>

</main>
