<h1><img src="images/dindinsLogo.jpeg" class="dindins_logo"></h1>
<main class="about">
  <h4>Food sitting in the cupboard you don’t need?, <br> went a bit overboard on the 3 for 2? <br> No longer into chickpeas?<br></h4> 
  <h2>DinDins It!</h2>
  <h3>The Team</h3>
  <img src="images/team_pic.jpg" class="team">
  <ul>
    <li><h3>Mr Samuel Bagnall: <a href="https://github.com/spkb" target="_blank"><img src="/images/gitlogotype18.png" class="contact-logo"></a></h3> 
    </li>
    <br>
    <li><h3>Ms Franziska Klingner: <a href="https://github.com/fran-k" target="_blank"><img src="/images/gitlogotype18.png" class="contact-logo"></a></h3> 
    </li>
    <br>
    <li><h3>Ms Andrea Mckenzie: <a href="https://github.com/ma3east" target="_blank"><img src="/images/gitlogotype18.png" class="contact-logo"></a></h3>
    </li>
  </ul>
  <br>
  <h4>Find Us @ reader.rush.amber</h4>
  <h4>Hint check out: 
    <a href="https://map.what3words.com/" target="_blank">what3words.com</a>
  </h4>
</main>
