<div class="welcome">
  <img id="logo" src="images/dindinsLogo.jpeg">
</div>

<h1>The Team</h1>
<ul>
  <li class="panel">
    <div class="image">
      <a href="https://github.com/spkb" target="_blank">
        <img src="/images/gitlogotype18.png" class="contact-logo">
      </a>
    </div>
    <div class="info">
      <h3>Mr Samuel Bagnall</h3> 
    </div>
  </li>
  <li class="panel">
    <div class="image">
      <a href="https://github.com/fran-k" target="_blank">
        <img src="/images/gitlogotype18.png" class="contact-logo">
      </a>
    </div>
    <div class="info">
      <h3>Franziska Klingner</h3>
    </div>
  </li>
  <li class="panel">
    <div class="image">
      <a href="https://github.com/ma3east" target="_blank">
        <img src="/images/gitlogotype18.png" class="contact-logo">
      </a>
    </div>
    <div class="info">
      <h3>Andrea Mckenzie</h3>
    </div>
  </li>
</ul>
<!-- 
<img src="images/team_pic.jpg" class="team">
<h4>Find Us @ reader.rush.amber</h4>
<h4>Hint check out: 
  <a href="https://map.what3words.com/" target="_blank">what3words.com</a>
</h4>
 -->