<h1>Welcome to Dindins</h1>

<ul id="product-container" class="small-block-grid-3">
  <% products.forEach(function(product){ %>
    <li>
      <img src="<%= product.image %>">
      <h3><%= product.name %></h3>
      <p><%= product.quantity %></p>
      <p>product.bestBefore</p>
    </li>
  <% }) %>
</ul> 