<h1>Login with an existing account</h1>
<div class="panel">
  <form action="/login" method="post" id="login">
    <label>Email</label>
    <input type="text" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <button class="button radius expand" type="submit">Submit</button>
  </form>
</div>


<h1>Register to create a new account</h1>
<div class="panel">
  <form action="/sign_up" method="post" id="sign_up">
    <label>Username</label>
    <input type="text" name="username">
    <label>Email</label>
    <input type="text" name="email">
    <label>Location</label>
    <input type="text" name="location">
    <label>Password</label>
    <input type="password" name="password">
    <button class="button radius expand" type="submit">Submit</button>
  </form>
</div>