<h1>Login with an existing account</h1>
<form action="/login" method="post">
  <label>Email</label>
  <input type="text">
  <label>Password</label>
  <input type="password">
</form>

<h1>Register to create a new account</h1>
<form action="/login" method="post">
  <label>Username</label>
  <input type="text">
  <label>Email</label>
  <input type="text">
  <label>Location</label>
  <input type="text">
  <label>Password</label>
  <input type="password">
</form>