<h1>Add a new product</h1>

<form action="/products/search" method="post" class="search_product panel">
  <label>Product</label>
  <input type="text" name="search" placeholder="Enter product name">
  <button class="button radius expand" type="submit">Search</button>
</form>

<ul id="product_container">
</ul>

<form action="/products" method="post" id="new_product" class="panel">
  <input type="hidden" name="user_id" value="<%= currentUser %>">
  <input type="hidden" name="name">
  <input type="hidden" name="image">
  <label>Best before date</label>
  <input type="text" name="bestBefore" id="datepicker">
  
  <label>Pick up time slots</label>
  <input type="text" name="availableTime">

  <label>Pick up location</label>
  <input type="text" name="location">

  <button class="button radius expand" type="submit">Submit</button>
</form>