<h1>Add a new product</h1>

<form action="/products/search" method="post" class="search_product">
  <label>Product</label>
  <input type="text" name="search" placeholder="Enter product name">
  <button class="button radius" type="submit">Search</button>
</form>

<ul id="product_container">
</ul>

<form action="/products" method="post" id="new_product">
  <input type="hidden" name="user_id" value="<%= currentUser %>">
  <input type="hidden" name="name">
  <input type="hidden" name="image">
  <label>Best before date</label>
  <input type="text" name="bestBefore" class="datepicker">
  <label>Available for pick up</label>
  <div class="row">
    <div class="small-4 columns">
      <label>Date</label>
      <input type="text" name="availableTimeDate" class="datepicker">
    </div>
    <div class="small-4 columns">
      <label>From</label>
      <input type="text" name="availableTimeStart" class="timepicker">
    </div>
    <div class="small-4 columns">
      <label>To</label>
      <input type="text" name="availableTimeEnd" class="timepicker">
    </div>
  </div>
  <label>Pick up location</label>
  <input type="text" name="location">

  <button class="button radius" type="submit">Submit</button>

</form>